.main-img {
  width: 80%;
  height: 20rem;
  object-fit: cover;
}

.main-img-container {
  text-align: center;
}

.container-padding {
  padding: 3rem 3rem;
}

.testimonial-padding {
  padding: 3rem 13rem;
}

.main-slogan {
  font-size: 2.5rem;
  line-height: 4rem;
  color: black;
}

.main-slogan-detail {
  margin: 1rem 0;
  color: black;
  font-size: 1.7rem;
}

.main-slogan-btn {
  width: 98%;
}

.why-works-title {
  text-align: center;
  width: 100%;
}

.partner-font {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
}
