body {
  background-color: #fafafa !important;
}

.bgc-white {
  background: white;
}

.bgc-blue {
  background: #0a2a66;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-80 {
  width: 80%;
}

.width-35 {
  width: 35%;
}

.margin-right-p5 {
  margin-right: 0.5rem;
}

.margin-y-2 {
  margin: 2rem 0;
}

.margin-y-5 {
  margin: 5rem 0;
}

.font-size-1p2 {
  font-size: 1.2rem;
}

.font-size-1p5 {
  font-size: 1.5rem;
}

.font-size-2 {
  font-size: 2rem;
}

.font-size-10 {
  font-size: 10rem;
}

.font-color-black {
  color: black;
}

.font-color-white {
  color: white;
}

.font-color-white-transparent {
  color: rgba(255, 255, 255, 0.5);
}

.font-color-red {
  color: #ff4d4f;
}

.content-center {
  margin: 0 auto;
}

.pointer-cursor {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

.min-height-100 {
  min-height: 100vh;
}
