.main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem;
  background-color: white;
  z-index: 9999;
}

.coursebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateY(-50rem);
  width: 100%;
  background-color: #f0f0f0;
  height: 100%;
  z-index: 999;
}

.coursebar.open {
  transform: translateY(3rem);
}

.course-padding {
  padding: 3rem;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
